# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan
*.plan

# Variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Sensitive files
*.pem
*.key
Terraform/lambda/lambda.zip

# OS/editor files
.vscode/
.idea/
*.swp
.DS_Store